<template name="atgEventCreateNavBar">
    <div id="create-nav-bar">
        <div class="nav-tile">
            <div class="text-container">
                <img src="/img/{{icon}}"/>
            </div>
            <div class="progress-container">
                <div class="connector1"></div>
                <div class="dot">
                    <i class="ui icon circle"></i>
                </div>
                <div class="connector1"></div>
            </div>
        </div>
        {{#if showTeamSelectionStep}}
            <div class="reset-team nav-tile">
                <div class="text-container">
                    <i class="io icon users"></i>
                </div>
                <div class="progress-container">
                    <div class="connector1"></div>
                    <div class="dot">
                        {{#if onTeamStep}}
                            <i class="ui icon selected radio"></i>
                        {{else}}
                            <i class="ui icon circle"></i>
                        {{/if}}
                    </div>
                    <div class="connector1"></div>
                </div>
            </div>
        {{/if}}
        <div class="reset-dates nav-tile">
            <div class="text-container">
                <i class="ui icon calendar"></i>
            </div>
            <div class="progress-container">
                <div class="connector1"></div>
                <div class="dot">
                    {{#if onDatesStep}}
                        <i class="ui icon selected radio"></i>
                    {{else}}
                        {{#if pastDateStep}}<i class="ui icon circle"></i>{{else}}<i class="ui icon circle thin"></i>{{/if}}
                    {{/if}}
                </div>
                <div class="connector1"></div>
            </div>
        </div>
        <div class="reset-details nav-tile">
            <div class="text-container">
                <i class="ui icon write"></i>
            </div>
            <div class="progress-container">
                <div class="connector1"></div>
                <div class="dot">
                    {{#if onDetailsStep}}
                        <i class="ui icon selected radio"></i>
                    {{else}}
                        {{#if onConfirmStep}}<i class="ui icon circle"></i>{{else}}<i class="ui icon circle thin"></i>{{/if}}
                    {{/if}}
                </div>
                <div class="connector1"></div>
            </div>
        </div>
        <div class="nav-tile confirmation">
            <div class="text-container">
                <i class="ui icon check square"></i>
            </div>
            <div class="progress-container">
                <div class="connector1"></div>
                <div class="dot">
                    {{#if onConfirmStep}}
                        <i class="ui icon selected radio"></i>
                    {{else}}
                        <i class="ui icon circle thin"></i>
                    {{/if}}
                </div>
                <div class="connector1"></div>
            </div>
        </div>
        <div class="circular ui icon small button close-create-mode back-button">
            <i class="remove icon"></i>
        </div>
    </div>
</template>