<template name="eventsCreateSelectType">
        {{#if typeSelected}}

        {{else}}
        <div class="ui four doubling cards">
            {{#each getAllTypes}}
                <div class="card select-type" value="{{_id}}" style="background-color: {{getEngagementTypeColor _id}};">
                    <div class="content">
                        <div class="image">
                            <img class="ui tiny image" src="/img/eng_Placeholder.jpeg">
                        </div>
                        <div class="header">
                            {{type}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        {{/if}}
</template>