<template name="atgEventCreate">
    {{> atgEventCreateNavBar }}
    {{#if onDatesSelection}}
        {{#if fullCalendar}}
            <div id="slidable-container" class="sixteen wide computer column centered no-padding no-vertical-overflow">
                <form class="ui form">
                    {{> DynamicTemplate template=getCalendarTemplate}}
                </form>
            </div>
        {{else}}
            <div id="slidable-container" class="ten wide computer column centered no-padding no-vertical-overflow ui grid">
                <div id="scroll-container" class="ui padded grid sixteen wide column">
                    <form class="ui form">
                        {{> DynamicTemplate template=getCalendarTemplate}}
                        <div class="ui eight column centered grid vertically padded">
                            <div class="ui primary button proceed" tabindex="0">PROCEED</div>
                        </div>
                        <div class="ui error message"></div>
                    </form>
                </div>
            </div>
        {{/if}}
    {{else}}
        <div id="slidable-container" class="ten wide computer column centered no-padding no-vertical-overflow ui grid">
            <div id="scroll-container" class="ui padded grid sixteen wide column">
                <form class="ui form">
                    {{#if onTeamSelection}}
                        {{> DynamicTemplate template=getTeamTemplate}}
                    {{/if}}
                    {{#if onDetails}}
                        {{> DynamicTemplate template=getCreateTemplate}}
                    {{/if}}
                    {{#if onConfirm}}
                        {{> DynamicTemplate template=getConfirmTemplate data=getEventDetails}}
                    {{/if}}
                    <div class="ui eight column centered grid vertically padded">
                        <div class="ui primary button proceed" tabindex="0">PROCEED</div>
                    </div>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    {{/if}}
</template>