<template name="atgEventCreateDay">
    <div class="day-box {{#if isHighlighted}} day-box-selected {{/if}}">
        {{#if isSelected}}
            <div class="circular ui remove icon mini button reset-starting-date">
                <i class="remove icon"></i>
            </div>
        {{/if}}
        <div class="day-box-top">
            {{dayNumber date}}
        </div>
        {{#if isSelected}}
            <div class="day-box-bottom {{#if isHovererd}}highlight{{/if}} same-return-day">
                Same Return day?
            </div>
        {{/if}}
    </div>
</template>