<template name="engagementDetailsCard">
	<div class="ui grid">
		<div class="sixteen wide column">
			<div class="title">
				{{title}} 
				{{#if visiting.location}} @ {{visiting.location}} {{/if}} 
				{{#if platform}} for {{platform}} {{/if}} 
				 ({{type}})
			</div>
			{{#if gameTitle}}
				<div class="title">
					{{getGameTitleProduct}} - {{getGameTitlecCodename}}  
				</div>
			{{/if}}
			<p>{{getFormattedDate startDate}} <i class="long arrow right icon"></i> {{getFormattedDate endDate}}</p>
			{{#if createdBy}}
				<p> Created By {{createdBy}}</p>
			{{/if}}
		</div>
	</div>
	<div class="engagement-mid">
		<span class="picture-label">
			Engineers
		</span>
		{{#each engineersGoing}}
			<img class="picture" src="/images/{{getEngineerPicture id}}" alt="...">
		{{/each}}
		<span class="picture-label">
		Dam 
		</span> 
		<img class="picture" src="/images/{{getDamPicture dam.id}}" alt="...">							
	</div>
	<div>
		{{description}}
	</div>
	<div>
		Goals : {{#each getGoals}} {{goal}} {{/each}}
	</div>
</template>