<template name="engagementDetailsCard">
    <div class="ui grid">
		<div class="ten wide column centered">
				<h3 class="ui horizontal inverted divider">Dates</h3>
				<p>{{getFormattedDate getStartDate}} <i class="long arrow right icon"></i> {{getFormattedDate getEndDate}}</p>
				<h3 class="ui horizontal inverted divider">Game Title</h3>
				<div class="ui grid">
					<div class="eight wide column">
						<h5>Product</h5>
						<p>{{getGameTitleProduct}}</p>
					</div>
					<div class="eight wide column">
						<h5>Codename</h5>
						<p>{{getGameTitleCodename}}</p> 
					</div>
				</div>
				<h3 class="ui horizontal inverted divider">Engagement</h3>
			    <div class="ui grid">
				    <div class="eight wide column">
					    <h5>Title</h5>
					    <p>{{title}}</p>
				    </div>
					<div class="eight wide column">
					    <h5>Type</h5>
				        <p>{{type}}</p>
				    </div>
					<div class="ten wide column">
						<h5>Description</h5>
						<p>{{description}}</p>
			  		</div>
					<div class="five wide column">
						<h5>Goals</h5>
						<div class="ui divided divided list goals-container">
					        {{#each getGoals}}
								<div class="item">{{goal}}</div>
					        {{/each}}
						</div>
				    </div>
				</div>
				<h3 class="ui horizontal inverted divider">Team</h3>
			    <div class="ui grid">
			    	<div class="three wide column">
			    		Engineer
			    	</div>
					<div class="thirteen wide column">
						{{#each engineersGoing}}
							{{#with getEngineerData id}}
								<img class="ui avatar image" src="/images/{{picture}}" data-title="{{name}}" alt="...">
							{{/with}}
						{{/each}}
				    </div>
					<div class="three wide column">
			    		Dam
			    	</div>
					<div class="thirteen wide column">
						{{#with getDamData dam.id}} 
							<img class="ui avatar image" src="/images/{{picture}}" data-title="{{name}}" alt="...">
					    {{/with}}
				    </div>
				</div>			
		</div>
	</div>
</template>