<template name="engagementDetailsCard">
	<div class="ui grid">
		<div class="sixteen wide column">
			<div class="title">{{title}} @ {{visiting.location}} for {{platform}} ({{type}})</div>
			<p>{{getFormattedDate startDate}} <i class="long arrow right icon"></i> {{getFormattedDate endDate}}</p>
		</div>
	</div>
	<div class="engagement-mid">
		<span class="picture-label">
			Engineers
		</span>
		{{#each engineersGoing}}
			<img class="picture" src="/images/{{getEngineerPicture id}}" alt="...">
		{{/each}}
		<span class="picture-label">
		Dam 
		</span> 
		<img class="picture" src="/images/{{getDamPicture dam.id}}" alt="...">							
	</div>
	<div>
		{{description}}
	</div>
</template>