<template name="engagementsCalendar">
    <div id="weekday-navbar" class="ui fixed seven item tabular menu">
      <div class="item">Sun</div>
      <div class="item">Mon</div>
      <div class="item">Tue</div>
      <div class="item">Wed</div>
      <div class="item">Thu</div>
      <div class="item">Fri</div>
      <div class="item">Sat</div>
  </div>
  <div class="calendar-navigation">
     <div class="months-arrows">
       <span class="scroll-prev-month scroll-arrow {{#if firstMonthHovered}} scroll-arrow-inactive {{/if}}">
         <i class="chevron up icon"></i>
       </span>
       <span class="scroll-next-month scroll-arrow">
         <i class="chevron down icon"></i>
       </span>          
     </div>
      <div class="month-helper">
        <h3>
          {{getShortMonth}} 
        </h3>  
     </div>
       
  </div>
  <div id="calendar-container" class="ui grid">
    {{#each months}}
      <div class="sixteen wide column hovering" id="{{getUnix date}}">
        {{> engagementsMonth date=date}}
      </div>
    {{/each}} 
    <div class="sixteen wide column">
      <div class="add-month">SHOW MORE DATES</div>  
    </div>
  </div>
</template>