<template name="month">
  <div class="col-sm-12">
    <h3 class="month-header">
      {{getMonth date}} {{getYear date}}
    </h3> 
  </div>
  <div class="row seven-cols">
    <div class="col-sm-1">Sun</div>
    <div class="col-sm-1">Mon</div>
    <div class="col-sm-1">Tue</div>
    <div class="col-sm-1">Wed</div>
    <div class="col-sm-1">Thu</div>
    <div class="col-sm-1">Fri</div>
    <div class="col-sm-1">Sat</div>
    {{#each getDaysInMonth date}}
      {{#if dayNumber}}
      <div class="col-sm-1 select-day">
        <div class="day-box {{#if isSelectedStartDate}} day-box-selected{{else}}day-box-unselected{{/if}}">
          {{#if isSelectedStartDate}}
            <div class="selected-date-tag">Start Date</div>
          {{/if}}
          {{dayNumber}}{{#if isSelectedStartDate}}<i class="fa fa-check day-selected-icon"></i>{{/if}}
        </div>
      </div>
      {{else}}
      <div class="col-sm-1"></div>
      {{/if}}
    {{/each}}
  </div>
</template>