<template name="nav">
  <div class="computer tablet only row navbar-container">
    <div id="top-bar" class="ui fixed menu inverted navbar">
        <a class="item navigate" val="atgEvents">
            Events
        </a>
        <a class="item navigate" val="productsList">
            Partners
        </a>
        <a class="item navigate" val="partnersList">
            Products
        </a>
        <a class="item navigate" href="https://github.com/AndreaHK5/calendarapp">
            Source
        </a>
      <div class="right menu">
        {{> loginButtons}}
      </div>
    </div>
  </div>
</template>