.meteor/local
node_modules/
test/coverage/
coverage/
tasks/**/oauth.js

#semantic
# refer to https://github.com/Semantic-Org/Semantic-UI-Meteor for exluded files
#client/semantic/site/**/*.variables.import.less
#client/semantic/definitions
#client/semantic/themes
#theme.config
#semantic.json
#semantic.less
#theme.import.less


