.meteor/local
node_modules/
test/coverage/
coverage/
tasks/**/oauth.js

#semantic 
client/semantic/site/
client/semantic/definitions
client/semantic/themes
theme.config
semantic.json
semantic.less
theme.import.less


