<template name="atgEventBriefCard">
    <div class="card" style="background-color: {{getEngagementTypeColor atgEventTypeId}};">
        <div class="content">
            {{#if onDash}}
                <div class="right floated">
                    <div class="navigation-icon">
                        {{#if isSelectedEvent _id}}
                            <i class="remove circle icon unselect-engagement"></i>
                        {{else}}
                            <i class="calendar icon select-engagement"></i>
                        {{/if}}
                    </div>
                </div>
            {{/if}}
            <div class="header detail-page">
                {{getAtgEventTypeName atgEventTypeId}}
            </div>
            <div class="meta detail-page">
                <span class="category">{{momentFormatter startDate "ddd MMM DD"}} <i class="long arrow right icon"></i> {{momentFormatter endDate "ddd MMM DD"}}</span>
            </div>
            <div class="detail-page">
                {{> DynamicTemplate template=getBriefCardTemplate}}
            </div>
        </div>
    </div>
</template>