<template name="atgEventDashDay">
	{{#if isInTheEventOnCalendar}}
		<div class="calendar-engagement-bar" style="background-color: {{getEngagementTypeColor selectedEventType}}; opacity: 0.9"></div>		
	{{/if}}	
	<div class="day-box dash-day {{#if isSelectedDay}} day-box-selected {{/if}}">
		<div class="day-box-top">
			{{dayNumber}}
		</div>
		<div class="day-box-bottom">
			{{#each dayEvents}}
				<div class="bubble-container {{#unless isTypeInFilter type ../date}} no-border {{/unless}}" style="border-color: {{getEngagementTypeColor type}};">
					<div class="engagement-bubble type-filer" value-type="{{type}}" style="background-color: {{getEngagementTypeColor type}};">
						{{count}} 				
					</div>
				</div>
			{{/each}}		
		</div>
	</div>
</template>