<template name="atgEventsDashListPanel" >
    <div id="list-panel-container" class="sixteen wide computer column centered no-padding no-vertical-overflow">
        <div id="filter-bar">
            {{#each getTypesPerDay}}
                <div class="bubble-container type-filter {{#unless isFilter type}} no-border {{/unless}}" style="border-color: {{getEngagementTypeColor type}};">
                    <div class="engagement-bubble" value="{{type}}" style="background-color: {{getEngagementTypeColor type}};">
                        {{count}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div id="cards-viewport">
            <div id="cards-container" class="ui four stackable cards">
                {{#each engagementsOfTheDay}}
                    {{> atgEventBriefCard}}
                {{/each}}
            </div>
        </div>
    </div>
</template>