<template name="eventsDashDay">
	{{#if isInTheEventOnCalendar}}
		<div class="calendar-engagement-bar" style="background-color: {{getEngagementTypeColor selectedEventType}}; opacity: 0.9"></div>		
	{{/if}}	
	<div class="day-box day-box-unselected
		{{#if isSelectedDay}}
			day-box-selected
		{{/if}}">
		<div class="engagement-day-top">
			{{dayNumber}}
		</div>
		<div class="engagement-day-bottom">
			{{#each dayEvents}}
				<div class="{{#if isTypeInFilter type ../date}} engagement-bubble-halo {{else}} engagement-bubble-nohalo {{/if}}" style="border-color: {{getEngagementTypeColor type}};">
					<div class="engagement-bubble type-filer" value-type="{{type}}" style="background-color: {{getEngagementTypeColor type}};">
						{{count}} 				
					</div>
				</div>
			{{/each}}		
		</div>
	</div>
</template>