/*sAlert css*/
.s-alert-info, .s-alert-success, .s-alert-warning, .s-alert-error {
    font-size: 20px;  
}

.s-alert-info {
    background-color: #F27749;
}

.s-alert-warning {
  background-color: #672179;
}

.s-alert-error {
  background-color: #D41400;
}

.s-alert-top {
	height: 60px;
	padding-top: 12px;
}