body {
  padding-top: 50px;
}

/*calendar view*/
#calendar-container {
  margin-top: 14px;
}

.month-header {
  text-align: center;
  color: #DC3C00;
}

.day-box {
  height: 98px;
  border: 1px solid #D6D5D4;
  margin: 5%;
}

.day-box-selected {
  color: #DC3C00;
  border-color: #DC3C00;
  border-width: 3px;
}

.day-box:hover {
  cursor: pointer;
}

.day-box-unselected:hover, 
.day-box-unselected-tripday {
  color: #DC3C00;
  border-color: #DC3C00;
  border-width: 3px;
}

.day-box-top {
  margin: 2px 2px 0 2px;
  height: 30px;
  line-height: 10px;
  position:relative;
}

.day-box-unselected-tripday .day-box-top,
.day-box-selected > .day-box-top,
.day-box-top-hovered {
  margin: 0px 0px;
}

.day-box-top .message {
  padding-top: 4px;
  text-align: center;
  font-size: 12px;
}

.selected-and-hover-day .day-box-top .message {
  padding-top: 4px;
  text-align: center;
}

.selected-and-hover-day .day-box-top .message:hover {
  font-weight: 700;  
}


.day-box-top .remove-day-icon {
  position: absolute;
  right: 0;
  top: 4px;
}

.day-box-mid {
  height: 32px;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

@media (max-width: 900px) {
  .day-box-mid {
    height: 22px;
  }
}

.helper-text {
  height: 18px;
  color: black;
  font-size: 12px;
  font-weight: 400;
}

.day-selected-icon {
  color: #007234;
  font-size: 20px;
  margin-bottom: 10px
}

.add-month {
  height: 35px;
  margin: 35px 5px;
  background-color: #DC3C00;
  color: white;
  text-align: center;
  line-height: 35px;  
}

.remove-start-date {
  padding-right: 3px;
  font-size: 15px;
}

.selected-icon {
  margin-top: 15px;
}

.same-return-day {
  padding-top: 4px;
  text-align: center;
  font-size: 12px;
  text-decoration: underline;
}

.same-return-day:hover {
  font-weight: 700;
}

/*calendar navbar*/

.scroll-next-month {
  margin-left: 4px;
  padding-left: 4px;
  border-left: 1px solid #D6D5D4;
}

.scroll-arrow {
  color: #DC3C00;
}

.scroll-arrow-inactive {
  color: #D6D5D4;
  opacity: 90%;
}

#weekday-navbar {
  background-color: white;
}

#weekday-navbar .tabular.menu {
  height: 20px !important;
}

.tabular.menu .item {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 20px !important;
}

/*confirm trip*/

.confirm-button {
  display: inline-block;
  width: 120px;
  height: 36px;
  border: 1px solid #DC3C00;
  color: #DC3C00;
  font-weight: 500;
  padding-top: 7px;
  margin: 30px 8px 10px 8px;
}

.confirm-button:hover {
  color: #ecf0f1;
  background-color: #DC3C00; 
}

.confirm-jumbo:hover .confirm-button {
  border: 3px solid #DC3C00;
  padding-top: 5px;
}

#animationPlaceholder {
  height: 500px;
}

/* jumbotron */
.confirm-jumbo{
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

/*events day style*/

.event-day-top {
  text-align: left;
  margin-top: 16px;
  margin-left: 8px;
  height: 32px;
  font-size: 45px;
  font-weight: 100;
}

.day-box:hover .event-day-top,
.day-box-selected .event-day-top {
  margin-top: 14px;
  margin-left: 6px
}

.event-day-bottom {
  height: 30px;
  margin-right: 8px;
  margin-bottom: 8px;
  position: absolute;
  bottom: 5px;
  right: 8px;
}

.calendar-event-bar {
  position: absolute;
  width: 100%;
  margin-top: 50px;
  height: 10px
}

.event-bubble {
  display: inline-block;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  border: 1px solid;
  text-align: center;
  line-height: 23px;
  vertical-align: middle;
  padding-right: 1px;
}

.event-bubble:last-of-type {
  margin-right: 0px;
}

.day-box:hover .event-bubble ,
.day-box-selected .event-bubble {
  border: 2px solid;
  font-weight: 700;
  line-height: 22px;
}

/*day events detail */

.day-events {
  width: 100%;
  border-top: 2px solid grey;
  position: fixed;
  bottom: 0;
  left: 0;
  visibility: hidden;
  overflow: scroll;
}

.event-card {
  opacity: 0.81;
}

.event-card-selected {
  opacity: 1;
}

.event-top {
  height: 30px;  
}

.event-container .title {
  font-size: 20px;
  font-weight: 700;
}

.event-mid .picture {
  width: 40px;
  border-radius: 50%;
}

/*events tray*/
.close-day-container {
  position: relative;
  top: -24px;
  left: -30px;
  background: rgba(128,128,128,0.76);
  height: 25px;
}

