body {
  padding-top: 50px;
}

@media (min-width: 500px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    padding: 0;
  }
}
.container-fluid {
    padding: 6%;
}

.day-box {
  height: 108px;
  border: 1px solid #D6D5D4;
  margin: 5%;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  padding-top: 25px;
}

.day-box:hover {
  color: #DC3C00;
  border-color: #DC3C00;
  border-width: 6px;
  padding-top: 20px;
}

/* TODO this is same as hover - find a DRY way to do this */
.day-box-selected {
  color: #DC3C00;
  border-color: #DC3C00;
  border-width: 6px;
  padding-top: 20px; 
}

.month-header {
  text-align: center;
  color: #DC3C00;
}