body {
  padding-top: 50px;
  overflow: hidden;
}

.page-container {
   padding-right: 14px !important;
   padding-left: 14px !important;
}

/*site navbar*/
.navbar-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/*calendar view*/
#calendar-container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  top: 60px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: visible;

}

.month-header {
  text-align: center;
  color: #DC3C00;
}

.day-box {
  height: 98px;
  border: 1px solid #D6D5D4;
  margin: 0.5em;
}

.day-box-selected {
  color: #DC3C00;
  border-color: #DC3C00;
  border-width: 3px;
}

.day-box:hover {
  cursor: pointer;
}

.day-box-unselected:hover, 
.day-box-unselected-day {
  color: #DC3C00;
  border-color: #DC3C00;
  border-width: 3px;
}

.day-box-top {
  margin: 2px 2px 0 2px;
  height: 30px;
  line-height: 10px;
  position:relative;
}

.day-box-unselected-day .day-box-top,
.day-box-selected > .day-box-top,
.day-box-top-hovered {
  margin: 0px 0px;
}

.day-box-top .message {
  padding-top: 4px;
  text-align: center;
  font-size: 12px;
}

.selected-and-hover-day .day-box-top .message {
  padding-top: 4px;
  text-align: center;
}

.selected-and-hover-day .day-box-top .message:hover {
  font-weight: 700;  
}


.day-box-top .remove-day-icon {
  position: absolute;
  right: 0;
  top: 4px;
}

.day-box-mid {
  height: 32px;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

@media (max-width: 900px) {
  .day-box-mid {
    height: 22px;
  }
}

.helper-text {
  height: 18px;
  color: black;
  font-size: 12px;
  font-weight: 400;
}

.day-selected-icon {
  color: #007234;
  font-size: 20px;
  margin-bottom: 10px
}

.add-month {
  height: 35px;
  margin: 35px 5px;
  background-color: #DC3C00;
  color: white;
  text-align: center;
  line-height: 35px;  
}

.selected-icon {
  margin-top: 15px;
}

.same-return-day {
  padding-top: 4px;
  text-align: center;
  font-size: 12px;
  text-decoration: underline;
}

.same-return-day:hover {
  font-weight: 700;
}

/*calendar navbar*/

.scroll-arrow {
  color: #DC3C00;
  font-weight: 120;
}

.scroll-arrow-inactive {
  color: #D6D5D4;
  opacity: 90%;
  font-size: 120%;
}

#weekday-navbar {
  z-index: 100;
  margin-top: 40px !important;
  min-height: 18px;
  margin-bottom: 0px !important;
}

#weekday-navbar .tabular.menu {
  height: 20px !important;
}

#weekday-navbar .item {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 20px !important;
  justify-content: initial !important;
  padding-left: 10px !important;
}

/*confirm engagement creation*/

.styled-button {
  display: inline-block;
  width: 120px;
  height: 36px;
  border: 1px solid #DC3C00;
  color: #DC3C00;
  font-weight: 500;
  padding-top: 7px;
  margin: 30px 8px 10px 8px;
}

.styled-button:hover {
  color: #ecf0f1;
  background-color: #DC3C00; 
}

.confirm-jumbo:hover .styled-button {
  border: 3px solid #DC3C00;
  padding-top: 5px;
}

#animationPlaceholder {
  height: 0;
  width:100%; 
  clear:both;
}

/* jumbotron */
.confirm-jumbo{
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

/*form  */

.engagement-details-form {
  overflow: scroll;
  padding-bottom: 14px !important; 
}

.add-goal-button {
  margin-top: 22px !important;
}

.goals-container {
  margin-left: 0.5em !important;
}

/*engagement tray*/ 
#dayengagements-container {
  border-top: 2px solid rgba(133, 133, 133,.95);
  position: absolute;
  visibility: hidden;
  left: 0px;
  width: 100%;
  background-color: rgba(133, 133, 133,0.7)
}

#cards-viewport {
  overflow-y: scroll;
  overflow-x: hidden;
}

#cards-container {
  padding: 0px 10px;
  margin-top: 0px !important;
}

#cards-container .card .content {
  cursor: pointer; 
}

/*engagements day style*/

.engagement-day-top {
  text-align: left;
  margin-top: 16px;
  margin-left: 8px;
  height: 32px;
  font-size: 45px;
  font-weight: 100;
}

.engagement-day-top .top-message {
  position: absolute;
  top: 10px;
  right: 0px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 8px;
  text-align: center;
}

.engagement-day-top .top-message:hover {
  font-weight: 700;
}

.engagement-day-top .start-date {
  font-size: 15px;
}

.engagement-day-top .reset-date {
  font-size: 12px;
  text-decoration: underline;
}

.day-box-selected .engagement-day-bottom {
  bottom: 5px;
}

.day-before-start:hover {

}

.engagement-day-bottom {
  position: absolute;
  bottom: 3px;
  right: 0px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 8px;
}

.day-box-unselected:hover .engagement-day-top,
.day-box-selected .engagement-day-top,
.day-box-unselected-day .engagement-day-top {
  margin-top: 14px;
  margin-left: 6px
}

.calendar-engagement-bar {
  position: absolute;
  width: 100%;
  margin-top: 50px;
  height: 10px;
}

.engagement-bubble-halo {
  display: inline-block;
  height: 32px;
  width: 32px;
  border: 2px solid;
  border-radius: 15px;
  margin-bottom: 2px;
}

.engagement-bubble-nohalo {
  display: inline-block;
  height: 32px;
  width: 32px;
  border: 0px solid;
  margin-right: -2px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.engagement-bubble {
  color: white;
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  text-align: center;
  line-height: 23px;
  vertical-align: middle;
  margin: 2px;
}

.engagement-bubble:last-of-type {
  margin-right: 0px;
}

.day-box-selected .engagement-bubble-nohalo {
  margin-bottom: 0px;
  margin-top: 2px;
}

/*day engagements detail */

#day-engagements {
  width: 100%;
  border-top: 2px solid grey;
  position: fixed;
  bottom: 0;
  left: 0;
  visibility: hidden;
  overflow: scroll;
}

.engagements-top-spacer {
  height:18px; 
  background-color:white;
} 

.unselect-engagement:hover,
.select-engagement:hover {
    cursor: pointer; 
}

.navigation-icon {
  font-size: 130%;
  margin-top: 12px;
}

.navigation-icon:first {
  margin-top: 0px;
}

.card-description {
  display: inline-block;
}

/*engagements tray*/
#engagement-list-messages {
  position: absolute;
  display: inline-block;
  top: -34px;
  left: -1em;
  background: rgba(128,128,128,0.96);
  padding: 0.5em 1em;
  color: white;
}

#engagement-list-messages .date {
  font-size: 120%;
  font-weight: 700;
}

/*calendar navigation*/

.calendar-navigation {
  position: fixed;
  top: 38px;
  right: 14px;
  z-index: 100;
}

.calendar-navigation .month-helper {
  color: #DC3C00;
  text-align: center;
}

/*engagement legend and create button*/

.create-engagement-toggle {
  position: fixed;
  top: 70px;
  left: 10px;
  background-color: #DC3C00 !important;
  color: white !important;
  z-index: 200;
}

#engagements-legend {
  position: fixed;
  top: 140px;
  left: 10px;
  background: rgba(128,128,128,0.99);
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-color: grey;
  color: white;
  display: table;
}

#engagements-legend .label {
  display: inline-block;
  text-align: center;
  font-weight: 700;
}

#engagements-legend .content-hidden {
  display: none;
}

#engagements-legend .content {
  display: table-cell;
  vertical-align: middle;
  font-weight: 400;
}

.legend-entry {
  margin: 4px 4px;
}

.legend-entry .engagement-bubble {
  margin-right: 5px;
}

/*login items*/

#login-dropdown-list {
  left: -200px !important;
  right: 15px !important;
  z-index: 200;
}

#login-buttons {
  margin-top: 1em;
  margin-right: 1em;
}

.details-card-modal {
  width: 100% !important;
  padding: 1em !important;
  margin: 1em !important;
  color: black;

}


