.delete-modal,
.delete-modal .header {
    color: black !important;
}

.remove-image {
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 400;
    padding: 10px !important;
}

.location-delete {
    position: absolute;
    z-index: 400;
    left: -5px;
    padding: 10px !important;
}

.location-delete .remove.icon,
.remove-image .remove.icon {
    margin: 0px !important;
}

.add-location-container {
    margin: 0.875em 0.5em !important;
}

.no-image {
    font-size: 14px;
}

.vertical-margins {
    margin-top: 14px !important;
    margin-bottom: 14px !important;
}