<template name="engagementsCreateDay">
  <div class="day-box
      {{#if isStartDateAndHovered}}
      {{else}}
        select-day
      {{/if}}
      {{#if isSelectedStartDate}}
        day-box-selected
      {{else}}
        {{#if isBeforeStartSate}}day-before-start{{else}}day-box-unselected{{/if}}
      {{/if}}

      {{#if isDateInTrip}}day-box-unselected-day{{/if}}">

    <div class="engagement-day-top">
      {{dayNumber date}}
      <div class="top-message">
        {{#if isSelectedStartDate}}
          {{#if isHoveredDate}} 
            <!-- {{#if hoverResetStartDate}}  -->
              <div class="reset-date">Reset?</div>
            <!-- {{/if}} -->
          {{else}}
            <div class="start-date">
              Start Date
            </div>
          {{/if}}
        {{/if}} 
      </div>
    </div>
    <div class="engagement-day-bottom same-return-day">
        {{#if isSelectedStartDate}}
          {{#if isHoveredDate}}
            Same Return day?
          {{/if}}
        {{/if}}
    </div>      
  </div> 
</template>