<template name="engagementsCreateDetails">
	  <div id="animationPlaceholder" style="width:100%; clear:both;"></div>
 	<div class="confirm-jumbo">
	    <div class="ui divider"></div>
	    <div class="sixteen wide column">
	   	    <h2>Dates</h2>
	       	<p>{{getFormattedDate getStartDate}} <i class="long arrow right icon"></i> {{getFormattedDate getEndDate}}</p>
	   	</div>
    </div>
	<div class="ten wide column centered engagement-details-form">
		<form class="ui form">
			<h4 class="ui dividing header">Event</h4>
		    <div class="two fields">
			    <div class="field">
				    <label>Title</label>
				     <div class="field" >
				        <input type="text" placeholder="title" name="title">
				     </div>
			    </div>
				<div class="field">
				    <label>Type</label>
				     <select class="ui fluid search selection dropdown type-dropdown" name="type">
						<option value="">Type</option>
				        {{#each getAllTypes}}
							<option value="{{type}}">{{type}}</option>
				        {{/each}}
				        <option value="{{getCustomType}}">{{getCustomType}}</option>
				     </select>
			    </div>
			</div>
			<div class="field">
	    		<label>Description</label>
	    		<textarea rows="2" name="description"></textarea>
	  		</div>
			<h4 class="ui dividing header">Team</h4>
				<div class="two fields">
				<div class="field">
				    <label>Engineer</label>
				     <select class="ui dropdown" name="engineerGoing" multiple="">
						<option value="">Engineer</option>
				        {{#each getAllEngineers}}
							<option value="{{_id}}">
								<img class="ui mini avatar image" src="/images/{{picture}}">
								{{name}} 
							</option>
				        {{/each}}
				     </select>
			    </div>
				<div class="field">
				    <label>Dam</label>
				     <select class="ui dropdown" name="dam">
						<option value="">Dam</option>
				        {{#each getAllDams}}
							<option value="{{_id}}">
								<img class="ui mini avatar image" src="/images/{{picture}}">
								{{name}}
							</option>
				        {{/each}}
				     </select>
			    </div>
			</div>
			<div class="confirm-jumbo">
				<div class="confirm-button reset-engagement">CHANGE DATES</div>
      			<div class="ui submit confirm-button confirm-details ">PROCEED</div>  
			</div>
			<div class="ui error message"></div>
		</form>			
	</div>
</template>