<template name="atgEventsCalendar">
    <div id="weekday-navbar" class="row">
        <div class="sixteen wide column">
            <div class="ui seven column grid padded">
                <div class="column no-padding">Sun</div>
                <div class="column no-padding">Mon</div>
                <div class="column no-padding">Tue</div>
                <div class="column no-padding">Wed</div>
                <div class="column no-padding">Thu</div>
                <div class="column no-padding">Fri</div>
                <div class="column no-padding">Sat</div>
            </div>

        </div>
        <div id="calendar-navigation">
            <div class="month-helper">
                {{getShortMonth}}
            </div>
            <div class="months-arrows">
                <span class="scroll-prev-month scroll-arrow {{#if firstMonthHovered}} scroll-arrow-inactive {{/if}}">
                  <i class="chevron up icon"></i>
                </span>
                <span class="scroll-next-month scroll-arrow">
                  <i class="chevron down icon"></i>
                </span>
            </div>
        </div>
    </div>

    <div id="calendar-container">
        {{#each months}}
            <div class="hovering" id="{{getUnix date}}">
                {{> atgEventsMonth date=date}}
            </div>
        {{/each}}
        <div class="sixteen wide column">
            <div class="add-month">SHOW MORE DATES</div>
        </div>
    </div>
</template>