<template name="engagementsDash">
	{{#if isLoggedInUser}}
		<div class="create-engagement-button">
			{{#if createModeOn}}
				<i class="calendar icon"> </i>
			{{else}}
				<i class="add circle icon"> </i>
			{{/if}}
		</div>	
	{{/if}}
  	{{#if showCalendar}}
  	  {{> engagementsCalendar}}
  	{{/if}}	

	{{#if createModeOn}}
	    {{#if showCalendar}}
  		{{else}}
		    <div id="animationPlaceholder"></div>
		    {{#if detailsMissing}}
		      {{> engagementsCreateDetails}}
		    {{else}}
		      <div class="eight wide column centered">
		        {{> engagementDetailsCard getEventDetails}}
		      </div>
		      {{> engagementsCreateConfirm}}
		    {{/if}}
	  	{{/if}}
	{{else}}
		{{> engagementsDashLegend}}	
		{{#if showDayEventsDetail}}
			{{> engagementsDashListPanel}}
		{{/if}}
	{{/if}}
</template>