<template name="engagementsDashListPanel" >
	<div id="dayengagements-container" >
		<div id="engagement-list-messages">
			<i class="remove icon close-day-container"></i>
			Engagements for 
			<span class="date">{{getFormattedDate dayShowing}}</span> 
			{{#if typeFilter}}
				 showing only: <span class="date">{{typeFilter}}</span>
				<span class="clear-type-filter"> (show all)</span>
			{{/if}}
		</div>
		<div id="cards-viewport">
			<div id="cards-container" class="ui four stackable cards">
				{{#each engagementsOfTheDay}}
					<div class="card" style="background-color: {{getEngagementTypeColor type}};">
						{{> engagementBriefCard}}
					</div>
			{{/each}}
			</div>
		</div>
	</div>

	<div class="ui basic modal delete-engagement-modal confirm-delete-modal">
	  <i class="close icon"></i>
	  <div class="header">
	    Delete Engagement ?
	  </div>
	  <div class="image content">
	    <div class="description details-card-modal" style="background-color: {{getEngagementTypeColor modalCardColor}};">
	      {{> engagementDetailsCard getEventDetails}}
	    </div>
	  </div>
	  <div class="actions">
	    <div class="two fluid ui inverted deny buttons">
	      <div class="ui red basic inverted button">
	        <i class="remove icon"></i>
	        No
	      </div>
	      <div class="ui green basic inverted approve button">
	        <i class="trash icon"></i>
	        Yes
	      </div>
	    </div>
	  </div>
	</div>
</template>