<template name="engagementsDashListPanel" >
	<div id="day-engagements-container" >
		<div class="ui grid">
			<div class="engagements-top-spacer"></div>
			{{#each engagementsOfTheDay}}
			<div class="sixteen wide column engagement-card
					{{#if isSelectedEvent _id}}
						engagement-card-selected
					{{else}}
						engagement-card
					{{/if}}">
				<div class="ui grid 
					">
					<div class="fifteen wide column engagement-top hover-engagement" style="background-color: {{getEngagementTypeColor type}};">
						{{> engagementDetailsCard }}
					</div>
					<div class="one wide column icons-container" style="background-color: {{getEngagementTypeColor type}}">
						<div class="show-on-calendar">
							{{#if isSelectedEvent _id}}
									<i class="remove circle icon unselect-engagement"></i>
							{{else}}
									<i class="calendar icon select-engagement"></i>
							{{/if}}
						</div>
						{{#if isCreator}}
							<div class="delete delete-engagement">
								<i class="trash icon"></i>
							</div>
						{{/if}}
						<div class="navigation">
							<i class="chevron right icon"></i>						
						</div>
					</div>					
				</div>	
			</div>
		{{/each}}
		</div>
	</div>
</template>