<template name="engagementsDashLegend">
	<div class="engagements-legend">
		<div class="
			{{#if isLegendShowing}}
				content
			{{else}}
				content-hidden
			{{/if}}
		">
			{{#each getAllEventsTypes}}
			<div class="legend-entry">
				<span class="engagement-bubble" style="background-color: {{getEngagementTypeColor type}};"></span>{{type}}
			</div>
			{{/each}}
		</div>
		<div class="label">
			{{#if isLegendShowing}}
				<i class="chevron left icon"></i>
			{{else}}
				<i class="chevron right icon"></i>
			{{/if}}
			<div>L</div>
			<div>E</div>
			<div>G</div>
			<div>E</div>
			<div>N</div>
			<div>D</div>
		</div>
	</div>
</template>