<template name="engagementBriefCard">
	  <div class="content">
  		<div class="right floated">
    		<div class="navigation-icon">
				{{#if isSelectedEvent _id}}
						<i class="remove circle icon unselect-engagement"></i>
				{{else}}
						<i class="calendar icon select-engagement"></i>
				{{/if}}	
    		</div>
			{{#if isCreator}}
				<div class="navigation-icon delete delete-engagement">
					<i class="trash icon"></i>
				</div>
			{{/if}}
			<div class="navigation-icon">
				<i class="right chevron icon"></i>
			</div>
    	</div>
	    <div class="header">
	    	<div class="meta">
	    		{{type}}
	    	</div>
	    	{{title}} 
	    </div>
	    <div class="meta"> 
		    <span class="category">{{getFormattedDate startDate}} <i class="long arrow right icon"></i> {{getFormattedDate endDate}}</span>
	    </div>
	    <div class="description card-description">
			{{getGameTitleProduct}} ({{getGameTitlecCodename}})  
	    </div>
	  </div>
	  <div class="extra content">
		{{#each engineersGoing}}
			{{#with getEngineerData id}}
				<img class="ui avatar image" src="/images/{{picture}}" data-title="{{name}}" alt="...">
			{{/with}}
		{{/each}} Engs
		<div class="right floated author">
			{{#with getDamData dam.id}} 
				<img class="ui avatar image" src="/images/{{picture}}" data-title="{{name}}" alt="...">	Dam
		    {{/with}}
	    </div>
	  </div>
</template>