<template name="engagementsDashListPanel" >
	<div id="day-events-container" >
		<div class="ui grid">
			<div class="events-top-spacer"></div>
			{{#each eventsOfTheDay}}
			<div class="sixteen wide column event-card
					{{#if isSelectedEvent _id}}
						event-card-selected
					{{else}}
						event-card
					{{/if}}">
				<div class="ui grid 
					">
					<div class="fifteen wide column event-top hover-event" style="background-color: {{getEventTypeColor type}};">
						{{> engagementDetailsCard }}
					</div>
					<div class="one wide column" style="background-color: {{getEventTypeColor type}}">
						<div class="calendar">
						{{#if isSelectedEvent _id}}
								<i class="remove circle icon unselect-event" style="font-size: 140%"></i>
						{{else}}
								<i class="calendar icon select-event"></i>
						{{/if}}
						</div>
						<div class="navigation">
							<i class="angle right icon"></i>						
						</div>
					</div>					
				</div>	
			</div>
		{{/each}}
		</div>
	</div>
</template>