<template name="eventDay">
	{{#if isInTheEventOnCalendar}}
		<div class="calendar-event-bar" style="background-color: {{getEventTypeColor selectedEventType}}; opacity: 0.9"></div>		
	{{/if}}	
	<div class="day-box day-box-unselected
		{{#if isSelectedDay}}
			day-box-selected
		{{/if}}">
		<div class="event-day-top">
			{{dayNumber}}
		</div>
		<div class="event-day-bottom">
			{{#each dayEvents}}
			<div class="event-bubble" style="background-color: {{getEventTypeColor eventType}};">
				{{count}} 				
			</div>
			{{/each}}		
		</div>

	</div>
</template>